* {
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-family: monospace;
  text-align: center;
}

#app {
  width: 100%;
  height: 100vh;
}
#container {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  background-color: #e0dbe1;
}
.shadow {
  box-shadow: 0 0.25rem 0.3rem rgba(0, 0, 0, 0.7);
}
/* #container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; 
  z-index: 1;
} */

.active {
  color: white !important;
  border-radius: 0.3rem;
}

/* For the entire scrollbar */
::-webkit-scrollbar {
  width: 0.5rem; /* Width of the scrollbar */
  height: 0.5rem; /* Height of the scrollbar */
}

/* For the track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #846298; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the scrollbar track */
}

/* For the handle (scrollbar itself) */
::-webkit-scrollbar-thumb {
  background: #ad88c6; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners for the scrollbar handle */
  border: 2px solid #faf0e6; /* Adds a border around the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #846298; /* Darker color when hovering over the scrollbar handle */
}

/* Hide scrollbar for Webkit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
body,
html {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Ensure the scrollbar area is still interactable */
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.inactive {
  color: #9ca986 !important;
  /* background: #9ca986 !important; */
  border: 0px !important;
}
